.value-square
{
    border: 2px solid black;
    width: 45px;
    height: 45px;
    background: transparent;
    font-family: cursive;
    border-radius: 50px;
}

.empty-square{
    background: transparent;
    border: none;
    width: 45px;
    height: 45px;
    outline: none;
}

